*,
*::before,
*::after {
  font-size: 100%;
  transition: 0.1s;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: Raleway, sans-serif, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}